# Reducir advertencias en la consola
loglevel=error

# Ocultar advertencias de módulos obsoletos, incluyendo punycode
node-option=--no-warnings

# Usar la versión moderna de solución de módulos
legacy-peer-deps=false
strict-peer-dependencies=false

# Mejorar el rendimiento del instalador
fund=false
audit=false 